In [1]:
import sys
import numpy as np
import pandas as pd
import matplotlib
import sklearn

In [13]:
data = pd.read_csv('Handbooks/ML/Old Datasets 06.12.25/student_scores.csv')
print(data.head(10))

     name  hours  score gender grades class
0   Aarav      8     76      M      A    9A
1    Riya      5     62      F      B    9B
2   Kabir     10     88      M      A   10A
3    Sana      4     55      F      C    9A
4  Vivaan      7     72      M      B   10B
5  Ishita      6     64      F      B    9C
6   Rohan      3     48      M      D    9B
7   Meera      9     90      F      A   11A
8  Aditya      2     38      M      F    9C
9   Kavya     11     93      F      A   12A

In [ ]:
print('Columns: ',data.columns.tolist())
print('\nInfo: ')
print(data.info()) #
print('\nDescribe: ')
print(data.describe()) #

Columns:  ['name', 'hours', 'score', 'gender', 'grades', 'class']

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    92 non-null     object
 1   hours   92 non-null     int64
 2   score   92 non-null     int64
 3   gender  92 non-null     object
 4   grades  92 non-null     object
 5   class   92 non-null     object
dtypes: int64(2), object(4)
memory usage: 4.4+ KB
None

Describe:
           hours      score
count  92.000000  92.000000
mean    6.510870  68.836957
std     2.265336  15.692286
min     2.000000  35.000000
25%     5.000000  57.000000
50%     7.000000  70.000000
75%     8.000000  82.000000
max    11.000000  94.000000

Missing Values

In [ ]:
print(data.isnull().sum())
#option 1 fill missing values with means
#data['score'] = data['score'].fillna(data['score'].mean())
#option  drop the rows that consist of missing values
#data = data.dropna()

name      0
hours     0
score     0
gender    0
grades    0
class     0
dtype: int64